<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Pre Assessments
    <span class="badge badge-primary badge-pill">{{lessonPlanCount.pre_assessment}}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Microunits
    <span class="badge badge-primary badge-pill">{{lessonPlanCount.microunit}}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Nano units
    <span class="badge badge-primary badge-pill">{{lessonPlanCount.nanounit}}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Learning Objectives
    <span class="badge badge-primary badge-pill">{{lessonPlanCount.learning_objective}}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Concepts
    <span class="badge badge-primary badge-pill">{{lessonPlanCount.concept}}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Topics
    <span class="badge badge-primary badge-pill">{{topicsCount}}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Activities
    <span class="badge badge-primary badge-pill">{{lessonPlanCount.simpleActivity + lessonPlanCount.scientific_activity + lessonPlanCount.experiential_activity + lessonPlanCount.multidisciplinary_activity}}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Understanding Questions 
    <span class="badge badge-primary badge-pill">{{lessonPlanCount.self_assessment}}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Learning Outcomes
    <span class="badge badge-primary badge-pill">{{lessonPlanCount.learning_outcome}}</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center">
    Post Assessment
    <span class="badge badge-primary badge-pill">{{lessonPlanCount.post_assessment}}</span>
  </li>
</ul>


<!-- 
<div class="row">
  <div class="col-md-2">
    <div class="list-group-item text-center  list-group-item-danger rounded"><b>{{lessonPlanCount.pre_assessment}}</b> <br/>Pre Assessments</div>
  </div>
  <div class="col-md-2">
    <div class="list-group-item text-center  list-group-item-warning rounded"><b>{{lessonPlanCount.microunit}}</b> <br/>Microunits</div>
  </div>
  <div class="col-md-2">
    <div class="list-group-item  text-center  list-group-item-warning rounded"><b>{{lessonPlanCount.nanounit}}</b> <br/>Nano units</div>
  </div>
  <div class="col-md-2">
    <div class="list-group-item  text-center  list-group-item-success rounded"><b>{{lessonPlanCount.learning_objective}}</b> <br/>Learning Objectives</div>
  </div>
  <div class="col-md-2">
    <div class="list-group-item  text-center  list-group-item-info rounded"><b>{{lessonPlanCount.concept}}</b> <br/>Concepts</div>
  </div>
  <div class="col-md-2">
    <div class="list-group-item  text-center  list-group-item-info rounded"><b>{{topicsCount}}</b> <br/>Topics</div>
  </div>
  <div class="col-md-2">
    <div class="list-group-item  text-center  list-group-item-info rounded mt-2"><b>{{lessonPlanCount.simpleActivity + lessonPlanCount.scientific_activity + lessonPlanCount.experiential_activity + lessonPlanCount.multidisciplinary_activity}}</b> <br/>Activities</div>
  </div>
  <div class="col-md-3">
    <div class="list-group-item  text-center  list-group-item-danger rounded mt-2"><b>{{lessonPlanCount.self_assessment}}</b> <br/>Understanding Questions</div>
  </div>
  <div class="col-md-2">
    <div class="list-group-item  text-center  list-group-item-success rounded mt-2"><b>{{lessonPlanCount.learning_outcome}}</b> <br/>Learning Outcomes</div>
  </div>
  <div class="col-md-2">
    <div class="list-group-item  text-center  list-group-item-danger rounded mt-2"><b>{{lessonPlanCount.post_assessment}}</b> <br/>Post Assessment</div>
  </div>

</div>
   -->
    
  <!-- <ul class="list-group list-group-horizontal">
    <div class="list-group-item text-center  list-group-item-info"><b>{{lessonPlanCount.topics.fact}}</b> <br/>Facts</div>
    <div class="list-group-item  text-center  list-group-item-info"><b>{{lessonPlanCount.topics.theory}}</b> <br/>Theory</div>
    <div class="list-group-item  text-center  list-group-item-info"><b>{{lessonPlanCount.topics.information}}</b> <br/>Information</div>
    <div class="list-group-item  text-center  list-group-item-info"><b>{{lessonPlanCount.topics.description}}</b> <br/>Decriptions</div>
    <div class="list-group-item  text-center  list-group-item-info"><b>{{lessonPlanCount.topics.other}}</b> <br/>Other</div>

    <div class="list-group-item  text-center  list-group-item-info"><b>{{lessonPlanCount.learning_outcome}}</b> <br/>Learning Outcome</div>
  </ul> -->

  <!-- <ul class="list-group list-group-horizontal">
    
    <div class="list-group-item  text-center  list-group-item-info"><b>{{lessonPlanCount.post_assessment}}</b> <br/>Post Assesments</div>
    <div class="list-group-item  text-center  list-group-item-info"><b>{{lessonPlanCount.self_assessment}}</b> <br/>Self Assesments</div>
  </ul> -->