<div class="row bg-primary" style="height: 90vh">
  <div
    class="col-md-8 offset-md-2 mh-100 text-center align-self-center text-white"
  >
    <img height="80" src="/assets/images/steam-cube-logo-white.png" />
    <br />
    <br />
    <img height="50" src="/assets/images/StemClass-text.svg" />
    <br />
    <b class="" style="letter-spacing: 3px"
      >Preparing students for the Second Machine Age</b
    >
    <br />
    <br />
    <h6 class="text-warning">
      <i>
        “Technology is a gift of God. After the gift of life, it is perhaps the
        greatest of God’s gifts. <br />It is the mother of civilizations, of
        arts and sciences.”</i
      >- Freeman Dyson
    </h6>
    <br /><br />
    <br /><br />
    <br /><br />
    <p>
      <i>
        Technology has started transforming the economy much more than it did a
        century ago when electricity transformed manufacturing or computers and
        the internet. We are passing through manage of rapidly evolving
        technologies. Now students need to reshape the way they learn their
        lessons by integrating the core subjects Science, Arts and Math with
        Technology and Engineering. Students have to play around with machines
        and be experts in training them to communicate. They have to be
        data-intensive and technology-intensive. Students should be emphatic and
        understand the problems faced by human beings. Investigate and realize
        the causes of the problems. Learn about existing solutions and the
        reasons why they still exist. They should become adept in making
        decisions by looking at the data. Build creative solutions while in
        schools and colleges. Get recognized and build their own wellbeing.</i
      >
    </p>
  </div>
</div>
<div class="row text-center">
  <div class="col">
    <br /><br />
    <h3>The STE(A)M Approach</h3>
    <h5>
      StemClass approaches learning through a pedagogy that integrates STEAM
      subjects in an interesting way.
    </h5>
  </div>
</div>

<div class="row text-center mt-4">
  <div class="col-md-4 d-flex">
    <div class="card gray-card">
      <div class="card-body">
        <img src="/assets/images/characters/science.svg" class="img-fluid" />
        <h4 class="card-title">Science</h4>
        <p>
          Learn Physics, Chemistry and Biology like a scientist, who is
          passionate in research and innovation. Involve in different types of
          activities including experiential and multidisciplinary.
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-4 d-flex">
    <div class="card bg-info text-white">
      <div class="card-body">
        <img src="/assets/images/characters/technology.svg" class="img-fluid" />
        <h4 class="card-title">Technology</h4>
        <p>
          Focus on connecting the learner with IR 4.0 technologies,
          understanding the history and becoming curious in exploring more.
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-4 d-flex">
    <div class="card gray-card">
      <div class="card-body">
        <img
          src="/assets/images/characters/engineering.svg"
          class="img-fluid"
        />
        <h4 class="card-title">Engineering</h4>
        <p>
          Curiosity leads them to develop solutions by using the latest
          engineering techniques.
        </p>
      </div>
    </div>
  </div>

  <div class="col d-flex">
    <div class="card bg-info text-white">
      <div class="card-body">
        <img src="/assets/images/characters/art.svg" class="img-fluid" />
        <h4 class="card-title">Arts</h4>
        <p>Create and design your imaginations using the latest tools.</p>
      </div>
    </div>
  </div>

  <div class="col d-flex">
    <div class="card bg-info text-white">
      <div class="card-body">
        <img src="/assets/images/characters/maths.svg" class="img-fluid" />
        <h4 class="card-title">Mathematics</h4>
        <p>
          Learn not only about shapes and structures but also to analyse and
          interpret with data.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row mt-4 text-center">
  <div class="col">
    <h2>Features</h2>
  </div>
</div>
<div class="row text-center mt-4">
  <div class="col-md-6 d-flex">
    <div class="card bg-info text-white">
      <div class="card-body">
        <img src="/assets/images/characters/assesment.svg" class="img-fluid" />
        <h4 class="card-title">Competency-Based Assessments</h4>
        <h6>
          Practice CBS through each lesson so that decisions can be taken based
          on reports.
        </h6>
      </div>
    </div>
  </div>
  <div class="col-md-6 d-flex">
    <div class="card gray-card">
      <div class="card-body">
        <img
          src="/assets/images/characters/digitalskill.svg"
          class="img-fluid"
        />
        <h4 class="card-title">Digital Skills</h4>
        <p>
          Acquire Digital Skills at your leisure time and build digital products
          that can be useful for others around you. Become a StudentPreneur at a
          very young age.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6 d-flex">
    <div class="card gray-card">
      <div class="card-body">
        <img
          src="/assets/images/characters/digitalskill.svg"
          class="img-fluid"
        />
        <h4 class="card-title">Personalised Learning</h4>
        <p>
          Customized learning approach that focuses on each student’s strengths,
          skills, needs and interests. Students get a learning plan based on
          what they know and how they learn best.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6 d-flex">
    <div class="card bg-info text-white">
      <div class="card-body">
        <img
          src="/assets/images/characters/entrepreneurs.svg"
          class="img-fluid"
        />
        <h4 class="card-title">Studentpreneur</h4>
        <p>
          Studentpreneur practices two roles at the same time. First, you are a
          student in school, learning the academic lessons. Second, you acquire
          digital skills you are passionate about after school hours and create
          a valuable product and promote the product online. Become an
          entrepreneur at an early age. It is easier to start off at an early
          age when you are a student rather than when you are an employee.
        </p>
      </div>
    </div>
  </div>
</div>
