<div class="row">
    <div class="col-md-12">
        <h3 style="font-family:Metropolis;">List of Lessons</h3>
        <br><br><br>
        <div class="row">
            <div class="col-md-12">
                <div class="card text-center">
                  <div class="card-body">
            
                    <table class="table table-bordered table-striped">
                      <thead>
                        <tr>
                          <th>Unit No</th>
                          <th>Unit Name</th>
                          <th>Theme</th>
                          <th>Chapter</th>
                        </tr>
                        <ng-container *ngFor="let unit of units | sortBy: 'asc':'unitNo'">
                          <ng-container *ngFor="let data of unit['chapters']"> 
                        <tr>
                          <td rowspan="data.length">{{unit.unitNo}}</td>
                          <td>{{ unit.unitName }}</td>
                          <td ><button (click)="selectTheme(unit)" style="color: rgb(64, 64, 238); cursor: pointer; border: transparent;background-color: transparent;">click here to view the theme</button></td>
                          <td style="color: blue; cursor: pointer;" (click)="loadChapters(data._id)"> {{ data.lessonNumber }} - {{ data?.lessonName }} </td>
                        </tr>
                        </ng-container>
                      </ng-container>
                      </thead>
            
                    </table>
                  </div>
                </div>
              </div>

        </div>
    </div>
</div>

