<div class="row">
  <div class="col">
    <h4>
      Student Mapping<br /><small class="text-muted"
        >You can assign students to each class here.</small
      >
    </h4>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="float-right">
      <button
        type="button"
        class="btn btn-primary waves-effect waves-light"
        (click)="addMapping()"
      >
        <i class="fas fa-plus mr-2"></i> Add Mapping
      </button>
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col">
    <div class="card">
      <div class="card-body">
        <div class="float-left">
          <h4 class="card-title mt-0">List of students</h4>
          <h6 class="card-subtitle font-14 text-muted"></h6>
        </div>
        <div class="float-right">
          
            <div [(ngModel)]="divisionId">
              <button  mat-flat-button color="accent" [(ngModel)]="standardId"  (click)="studentFilter()">Filter</button>&nbsp;&nbsp;
              <button  mat-flat-button color="primary" (click)="promotion()">Promotion</button>&nbsp;&nbsp;
              <button  mat-flat-button color="warn" (click)="transferStudent()">Transfer</button>
            </div>
          <div class="app-search d-none d-lg-block">
            <div class="position-relative">
              <input
                type="text"
                class="form-control"
                placeholder="Search..."
                [(ngModel)]="query"
              /><span class="fa fa-search"></span>
            </div>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <th class="text-center">SI</th>
              <th class="text-center">Student name</th>
              <th class="text-center">Standard</th>
              <th class="text-center">Division</th>
              <th class="text-center">Edit</th>
            </thead>
            <tbody>
              <tr *ngFor="let student of mappingList  | searchfilter:query | searchfilter:standardId | searchfilter:divisionId; let i = index;" >
                <td class="text-center" (click)="studentData(student)">{{ i + 1 }}
                  <mat-checkbox  (change)="selectChk(student.studentId,$event)" class="example-margin" [checked]="check"></mat-checkbox>
               
                </td>
                <td class="text-center">
                  {{ student.students[0]?.studentFirstName }}
                  {{ student.students[0]?.studentLastName }}
                </td>
                <td class="text-center" > {{ student.standard[0]?.standards }}</td>
                <td class="text-center">{{ student.division[0]?.division }}</td>
                <td class="text-center">
                  <button
                    class="btn"
                    type="button"
                    (click)="selectSubject(student)"
                  >
                    <i class="fas fa-edit"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- /.modal -->
  <app-student-mapping-modal
    [selectedStudent]="currentMapping"
    dataTarget="studentMapingModal"
    (formSubmitted)="refreshList()"
  ></app-student-mapping-modal>
</div>
