<div class="row">
    <div class="col">
        <h4>Welcome</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-12 mb-3">
        <h4 style="cursor: pointer;"><small>{{greetingMsg}}</small><span> {{schoolInfo[0].details[0].schoolName}}</span>, </h4>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12">
        <h5>Quick summary</h5>
    </div>
    <div class="col-md-2">
        <div class="card gray-card text-center">
            <div class="card-body">
                <h5>{{counts.students}}</h5>
                <p>Students</p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card gray-card text-center">
            <div class="card-body">
                <h5>{{counts.teachers}}</h5>
                <p>Teachers</p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card gray-card text-center">
            <div class="card-body">
                <h5>{{counts.parents}}</h5>
                <p>Parents</p>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card gray-card text-center">
            <div class="card-body">
                <h5>{{counts.subjects}}</h5>
                <p>Subjects</p>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-2">
        <div class="card gray-card text-center">
            <div class="card-body">
                <h5>{{counts.staffs}}</h5>
                <p>Staff</p>
            </div>
        </div>
    </div> -->
</div>