<div class="row">
  <div class="col">
    <h4>
      Assessment!
      <br />
      <small
        >You have to attend this assessment before proceeding to next
        lesson</small
      >
    </h4>
  </div>
</div>
<div class="row mt-5">
  <!-- <div class="col-md-1 text-center">
    <a
      class="carousel-control-prev w-100"
      href="#carouselExampleControls"
      role="button"
      data-slide="prev"
    >
      <i class="fas fa-angle-left slide-control"></i>
    </a>
  </div> -->
  <div class="col-md-12">
    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-ride="carousel"
      data-interval="0"
    >
      <div class="carousel-inner">
        <div
          *ngFor="let item of questions; let i = index"
          [ngClass]="i == 0 ? 'carousel-item active' : 'carousel-item'"
        >
          <div class="card">
            <div class="card-header">
              <h5>
                Question <b>{{ currentIdx }}</b> out of
                <b>{{ totalNumberOfQuestions }}</b
                >.
              </h5>
            </div>
            <div class="card-body">
              <app-qand-aview
                [chapterData]="lessonId"
                [view]="'slide'"
                (onAnswerSubmit)="updateQuestion($event, i)"
                [contentId]="item._id"
                (questionNumberUpdate)="questionNumberUpdate($event)"
              ></app-qand-aview>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="col-md-1">
    <a
      class="carousel-control-next w-100"
      href="#carouselExampleControls"
      role="button"
      data-slide="next"
    >
      <i class="fas fa-angle-right slide-control"></i>
    </a>
  </div> -->
</div>
