<div class="container1">
    <div class="box">
        <div class="col1">
          
            <div class="account-pages">
                <div class="container-fluid">
                  <div class="row justify-content-center">
                    
                    <div class="col-md-7">
                      <div class="bg-gradient"></div>
                      <div class="bg-image"></div>
                    </div>
                  </div>
                </div>
              </div>
              
        </div>

        <div class="col2">
           <div class="formbox">
               <h2>Reset Your Password</h2>
               <form [formGroup]="passwordForm" (validSubmit)="resetPassword()">
                <div class="form-group">
                    <label for="username">Email</label>
                    <input
                      type="text"
                      class="form-control"
                      id="email"
                      formControlName="email"
                      placeholder="Enter email id"
                    />
                  </div>

                   <div class="inputbox1">
                    <!-- <a routerLink="/confirm-password/token">testlink</a><br> -->
                    <button color="primary" mat-raised-button>Submit</button>
                   </div>
               </form>
           </div>
              
        </div>
    </div>
</div>
