.box {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}

.col1 {
  position: relative;
  width: 60%;
  height: 100%;
  background: #3341c6;
}

.col2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

.col2 .formbox {
  width: 80%;
}
.col2 .formbox11 {
  width: 90px;
}
.col2 .formbox h2 {
  position: relative;
  top: -163px;
  font-size: 30px;
}

.col2 .formbox .form-group input {
  width: 100%;
}

.col2 .formbox .inputbox1 {
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 800px) {
  .box {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    width: 100%;
    height: 100vh;
  }
  .col1 {
    position: relative;
    width: 100%;
  }

  .col2 {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .col2 .formbox h2 {
    position: relative;
    top: -50px;
    font-size: 20px;
  }
}


.bg-image {
  height: 100vh;
  background-image: url(/assets/images/backgrounds/login-bg-side.png);
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  background-position: center;
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  top: 0px;
  width: 100%;
  left: 0px;
}

.bg-gradient {
  height: 100vh;

  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  background-position: center;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0px;
  width: 100%;
  left: 0px;

  background: #3341c6; /* fallback for old browsers */
}