<div
  id="{{ dataTarget }}"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mt-0" id="myModalLabel">
          Add staff <br /><small class="text-muted"
            >Enter the staff details below.</small
          >
        </h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-hidden="true"
        >
          ×
        </button>
      </div>
      <form [formGroup]="staffForm" (validSubmit)="addOrUpdateStaff()">
        <div class="modal-body">
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="firstName">First name</label>
              <input
                type="text"
                class="form-control"
                id="firstName"
                formControlName="staffFirstName"
                placeholder="Enter first name of the student"
              />
            </div>
            <div class="form-group col-md-4">
              <label for="lastName">Last name</label>
              <input
                type="text"
                class="form-control"
                id="lastName"
                formControlName="staffLastName"
                placeholder="Enter last name of the student"
              />
            </div>
            <div class="form-group">
              <label>Date of birth</label>
              <div>
                <div class="input-group">
                  <input
                    type="text"
                    #dobPicker
                    [ngModel]="dob"
                    (blur)="dob = dobPicker.value"
                    class="form-control"
                    placeholder="dd/mm/yyyy"
                    formControlName="dob"
                    id="datepicker"
                  />
                  <div class="input-group-append">
                    <span class="input-group-text"
                      ><i class="mdi mdi-calendar"></i
                    ></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="email">Email</label>
              <input
                type="text"
                class="form-control"
                id="email"
                formControlName="email"
                placeholder="Enter email id of the student"
              />
            </div>
            <div class="form-group col-md-4">
              <label for="mob">Mobile number</label>
              <input
                type="text"
                class="form-control"
                id="mob"
                formControlName="mobileNumber"
                placeholder="Enter mobile number of the student"
              />
            </div>
            <div class="form-group col-md-4">
              <label for="gender">Gender</label>
              <select id="gender" formControlName="gender" class="form-control">
                <option value="female">Female</option>
                <option value="male">Male</option>
                <option value="others">Others</option>
              </select>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="bg">Blood group</label>
              <select id="bg" formControlName="bloodGroup" class="form-control">
                <option value="A+">A+</option>
                <option value="B+">B+</option>
                <option value="O+">O+</option>
                <option value="AB+">AB+</option>
                <option value="A-">A-</option>
                <option value="B-">B-</option>
                <option value="O-">O-</option>
                <option value="AB-">AB-</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="role">Role</label>
              <select id="role" formControlName="role" class="form-control">
                <option value="accountant">Accountant</option>
                <option value="secretary">Secretary</option>
                <option value="secretary">Principal</option>
              </select>
            </div>
            <div class="form-group col-md-4">
              <label for="address">Address</label>
              <textarea
                id="address"
                class="form-control"
                placeholder="Enter the address of the staff"
                formControlName="staffAddress"
              ></textarea>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary waves-effect"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="submit"
            class="btn btn-primary waves-effect waves-light"
          >
            Save
          </button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
