.card {
  cursor: pointer;
  background-color: #f7f8fc !important;
  box-shadow: none !important;
}
.card-footer {
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
}
.rounded {
  border-radius: 1rem !important;
}
