<div class="row">
    <div class="col">
      <h4>
        Class Teacher Mapping<br /><small class="text-muted"
          >You can assign class teachers to respective classes here.</small
        >
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="float-right">
        <button
          type="button"
          class="btn btn-primary waves-effect waves-light"
          (click)="addMapping()"
        >
          <i class="fas fa-plus mr-2"></i> Add Class Teacher
        </button>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="float-left">
            <h4 class="card-title mt-0">Class Teacher mapping</h4>
            <h6 class="card-subtitle font-14 text-muted"></h6>
          </div>
          <div class="float-right">
            <div class="app-search d-none d-lg-block">
              <div class="position-relative">
                <input
                  type="text"
                  [(ngModel)]="query"
                  class="form-control"
                  placeholder="Search..."
                /><span class="fa fa-search"></span>
              </div>
            </div>
          </div>
          <div class="card-body">
            <table class="table table-striped">
              <thead>
                <th>SI</th>
                <th>Teacher name</th>
                <th>Standard</th>
                <th>Division</th>
                <th>Class Code</th>
                <th>Edit</th>
              </thead>
              <tbody>
                <tr *ngFor="let teacher of mappingList  | searchfilter:query; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>
                    {{ teacher.teacher[0]?.teacherFirstName }}
                    {{ teacher.teacher[0]?.teacherLastName }}
                  </td>
                  <td>
                    {{ teacher.standard[0].standards }}
                  </td>
                  <td>
                    {{ teacher.division[0].division }}
                  </td>
                  <td>
                    {{ teacher.classCode }}
                  </td>
                  <td>
                    <button
                      class="btn"
                      type="button"
                      (click)="selectTeacher(teacher)"
                    >
                      <i class="fas fa-edit"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  
    <!-- /.modal -->
    <!-- <app-class-teacher-mapping
      [selectedTeacher]="currentMapping"
      dataTarget="teacherMapingModal"
      (formSubmitted)="refreshList()"
    ></app-class-teacher-mapping> -->
  </div>
  