<div class="row">
  <div class="col-md-9">
    <h4>
      Subjects assigned to you<br /><small class="text-muted"
        >You can start preparing your lessons here.</small
      >
    </h4>
    <app-breadcrumb></app-breadcrumb>
    <br /><br />
    <div class="row">
      <div *ngFor="let subject of subjects" class="col-md-3" (clic)="kg(subject.foundation)">
        <app-subject-card
          (click)="
            selectSubject(
              subject._id,
              subject.standardId,
              subject.divisionId,
              subject.standard[0].standards,
              subject.division[0].division,
              subject.mode,
              subject.foundation
            )
          "
          [subject]="subject"
        ></app-subject-card>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <h4>Quick Info</h4>
    <br /><br />
    <div class="row"></div>
  </div>
</div>
