<!-- <div class="row">
  <div class="col-md-12 mb-3">
      <h4 style="cursor: pointer;"><small>{{greetingMsg}}</small><span> </span>, </h4>
  </div>
</div> -->

<body data-sidebar="dark">
  
  <!-- Begin page -->
  <div id="layout-wrapper">
    <header id="page-topbar">
      <div class="navbar-header">
        <div class="d-flex">
          <!-- LOGO -->
          <div class="navbar-brand-box">
            <a href="index.html" class="logo logo-dark">
              <span class="logo-sm">
                <img
                  src="assets/images/steam-cube-logo-white.png"
                  alt=""
                  height="50"
                />
              </span>
              <span class="logo-lg">
                <img
                  src="assets/images/StemClass-text.svg"
                  alt=""
                  height="35"
                />
              </span>
            </a>

            <a href="index.html" class="logo logo-light">
              <span class="logo-sm">
                <img
                  src="assets/images/steam-cube-logo-white.png"
                  alt=""
                  height="50"
                />
              </span>
              <span class="logo-lg">
                <img
                  src="assets/images/StemClass-text.svg"
                  alt=""
                  height="35"
                />
              </span>
            </a>
          </div>

          <button
            type="button"
            class="btn btn-sm px-3 font-size-24 header-item waves-effect"
            id="vertical-menu-btn"
           
          >
            <i class="mdi mdi-menu"></i>
          </button>
        </div>

        <div class="d-flex">
          <!-- App Search-->
          <!-- <div class="dropdown d-none d-md-block ml-2">
              <button
                type="button"
                class="btn header-item waves-effect"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <img
                  class="mr-2"
                  src="assets/images/flags/us_flag.jpg"
                  alt="Header Language"
                  height="16"
                />
                English <span class="mdi mdi-chevron-down"></span>
              </button>
              <div class="dropdown-menu dropdown-menu-right"></div>
            </div> -->

            <div class="dropdown d-inline-block">
              <button
                type="button"
                class="btn header-item noti-icon waves-effect"
                id="page-header-notifications-dropdown"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="mdi mdi-bell-outline text-white"></i>
                <span class="badge badge-danger badge-pill">&nbsp;</span>
              </button>
              <div
                class="dropdown-menu dropdown-menu-lg dropdown-menu-right p-0"
                aria-labelledby="page-header-notifications-dropdown">
                <div class="p-3">
                  <div class="row align-items-center">
                    <div class="col">
                      <h5 class="m-0 font-size-16">Notifications</h5>
                    </div>
                  </div>
                </div>
                <div data-simplebar style="max-height: 230px">
  
                  <a href="" class="text-reset notification-item">
                    <div class="media">
                      <div class="avatar-xs mr-3">
                        <span
                          class="avatar-title bg-warning rounded-circle font-size-16"
                        >
                          <i class="mdi mdi-message-text-outline"></i>
                        </span>
                      </div>
                      <div class="media-body">
                        <h6 class="mt-0 mb-1">Coming soon</h6>
                        <div class="font-size-12 text-muted">
                          <p class="mb-1">Notification preview is coming soon. Please click view all to view your notifications</p>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="p-2 border-top">
                  <a
                    class="btn btn-sm btn-link font-size-14 btn-block text-center"
                    routerLink="/student/student-notification"
                  >
                    View all
                  </a>
                </div>
              </div>
            </div>


          <div class="dropdown d-none d-lg-inline-block" style="color: white;">
            
            <button
              type="button"
              class="btn header-item noti-icon waves-effect"
              data-toggle="fullscreen"
            >
              <!-- <i class="mdi mdi-fullscreen"></i> -->
            </button>
            {{studentInfo[0]?.details[0]?.studentFirstName}}    {{studentInfo[0]?.details[0]?.studentLastName}}
          </div>

          <!-- <div class="dropdown d-inline-block">
                <button
                  type="button"
                  class="btn header-item noti-icon waves-effect"
                  id="page-header-notifications-dropdown"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="mdi mdi-bell-outline"></i>
                  <span class="badge badge-danger badge-pill">3</span>
                </button>
                <div
                  class="dropdown-menu dropdown-menu-lg dropdown-menu-right p-0"
                  aria-labelledby="page-header-notifications-dropdown"
                >
                  <div class="p-3">
                    <div class="row align-items-center">
                      <div class="col">
                        <h5 class="m-0 font-size-16">Notifications (258)</h5>
                      </div>
                    </div>
                  </div>
                  <div data-simplebar style="max-height: 230px">
                    <a href="" class="text-reset notification-item">
                      <div class="media">
                        <div class="avatar-xs mr-3">
                          <span
                            class="avatar-title bg-success rounded-circle font-size-16"
                          >
                            <i class="mdi mdi-cart-outline"></i>
                          </span>
                        </div>
                        <div class="media-body">
                          <h6 class="mt-0 mb-1">Your order is placed</h6>
                          <div class="font-size-12 text-muted">
                            <p class="mb-1">
                              Dummy text of the printing and typesetting industry.
                            </p>
                          </div>
                        </div>
                      </div>
                    </a>
    
                    <a href="" class="text-reset notification-item">
                      <div class="media">
                        <div class="avatar-xs mr-3">
                          <span
                            class="avatar-title bg-warning rounded-circle font-size-16"
                          >
                            <i class="mdi mdi-message-text-outline"></i>
                          </span>
                        </div>
                        <div class="media-body">
                          <h6 class="mt-0 mb-1">New Message received</h6>
                          <div class="font-size-12 text-muted">
                            <p class="mb-1">You have 87 unread messages</p>
                          </div>
                        </div>
                      </div>
                    </a>
    
                    <a href="" class="text-reset notification-item">
                      <div class="media">
                        <div class="avatar-xs mr-3">
                          <span
                            class="avatar-title bg-info rounded-circle font-size-16"
                          >
                            <i class="mdi mdi-glass-cocktail"></i>
                          </span>
                        </div>
                        <div class="media-body">
                          <h6 class="mt-0 mb-1">Your item is shipped</h6>
                          <div class="font-size-12 text-muted">
                            <p class="mb-1">
                              It is a long established fact that a reader will
                            </p>
                          </div>
                        </div>
                      </div>
                    </a>
    
                    <a href="" class="text-reset notification-item">
                      <div class="media">
                        <div class="avatar-xs mr-3">
                          <span
                            class="avatar-title bg-primary rounded-circle font-size-16"
                          >
                            <i class="mdi mdi-cart-outline"></i>
                          </span>
                        </div>
                        <div class="media-body">
                          <h6 class="mt-0 mb-1">Your order is placed</h6>
                          <div class="font-size-12 text-muted">
                            <p class="mb-1">
                              Dummy text of the printing and typesetting industry.
                            </p>
                          </div>
                        </div>
                      </div>
                    </a>
    
                    <a href="" class="text-reset notification-item">
                      <div class="media">
                        <div class="avatar-xs mr-3">
                          <span
                            class="avatar-title bg-danger rounded-circle font-size-16"
                          >
                            <i class="mdi mdi-message-text-outline"></i>
                          </span>
                        </div>
                        <div class="media-body">
                          <h6 class="mt-0 mb-1">New Message received</h6>
                          <div class="font-size-12 text-muted">
                            <p class="mb-1">You have 87 unread messages</p>
                          </div>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="p-2 border-top">
                    <a
                      class="btn btn-sm btn-link font-size-14 btn-block text-center"
                      href="javascript:void(0)"
                    >
                      View all
                    </a>
                  </div>
                </div>
              </div> -->

          <div class="dropdown d-inline-block">
            
            <button
              type="button"
              class="btn header-item waves-effect"
              id="page-header-user-dropdown"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <img
                class="rounded-circle header-profile-user"
                [src]="currentUser.dp"
                alt="Profile picture"
              />
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <!-- item-->
              <a class="dropdown-item" routerLink="/student/profile"
                ><i
                  class="mdi mdi-account-circle font-size-17 align-middle mr-1"
                ></i>
                Profile  </a
              >

              <!-- <a class="dropdown-item d-block" href="#">
                <i class="mdi mdi-settings font-size-17 align-middle mr-1"></i>
                Settings</a
              > -->

              <div class="dropdown-divider"></div>
              <a
                style="cursor: pointer"
                class="dropdown-item text-danger"
                (click)="logout()"
                ><i
                  class="
                    bx bx-power-off
                    font-size-17
                    align-middle
                    mr-1
                    text-danger
                  "
                ></i>
                Logout</a
              >
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- ========== Left Sidebar Start ========== -->
    <div class="vertical-menu">
      <div data-simplebar class="h-100">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
          <!-- Left Menu Start -->
          <ul class="metismenu list-unstyled" id="side-menu">
            <li class="menu-title">Main</li>

            <li (click)="setActive()">
              <a routerLink="/student/home" class="waves-effect">
                <i class="fas fa-home"></i>
                <span>Home</span>
              </a>
            </li>

            <li (click)="setActive()">
              <a routerLink="/student/subjects" class="waves-effect">
                <i class="fas fa-book"></i>
                <span>Subjects</span>
              </a>
            </li>

            <li *ngIf="previousData" (click)="setActive()">
              <a routerLink="/student/list-classes" class="waves-effect">
                <i class="fas fa-book"></i>
                <span>Previous Year</span>
              </a>
            </li>

            <li (click)="setActive()">
              <a routerLink="/student/student-batches" class="waves-effect">
                <i class="fas fa-book"></i>
                <span>Courses</span>
              </a>
            </li>

            <li (click)="setActive()" >
              <a routerLink="/student/calendar" class="waves-effect">
                <i class="fas fa-calendar-alt"></i>
                <span>Calendar</span>
              </a>
            </li>

           
            <li (click)="setActive()">
              <a routerLink="/student/digital-skill" class="waves-effect">
                <i class="fas fa-book"></i>
                <span>StudentPreneur</span>
              </a>
            </li>
          </ul>
        </div>
        <!-- Sidebar -->
      </div>
    </div>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
      <div class="page-content">
        <div class="container-fluid">
          <br />
          <router-outlet></router-outlet>
        </div>
      </div>
      <!-- End Page-content -->

      <footer class="footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              © 2022 StemClass by  
              <span class="d-none d-sm-inline-block"> steamcube pvt ltd.</span>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- end main content-->
  </div>
  <!-- END layout-wrapper -->

  <!-- Right Sidebar -->
  <div class="right-bar">
    <div data-simplebar class="h-100">
      <div class="rightbar-title px-3 py-4">
        <a href="javascript:void(0);" class="right-bar-toggle float-right">
          <i class="mdi mdi-close noti-icon"></i>
        </a>
        <h5 class="m-0">Settings</h5>
      </div>

      <!-- Settings -->
      <hr class="mt-0" />
      <h6 class="text-center">Choose Layouts</h6>

      <div class="p-4">
        <div class="mb-2">
          <img
            src="assets/images/layouts/layout-1.jpg"
            class="img-fluid img-thumbnail"
            alt=""
          />
        </div>
        <div class="custom-control custom-switch mb-3">
          <input
            type="checkbox"
            class="custom-control-input theme-choice"
            id="light-mode-switch"
            checked
          />
          <label class="custom-control-label" for="light-mode-switch"
            >Light Mode</label
          >
        </div>

        <div class="mb-2">
          <img
            src="assets/images/layouts/layout-2.jpg"
            class="img-fluid img-thumbnail"
            alt=""
          />
        </div>
        <div class="custom-control custom-switch mb-3">
          <input
            type="checkbox"
            class="custom-control-input theme-choice"
            id="dark-mode-switch"
            data-bsStyle="assets/css/bootstrap-dark.min.css"
            data-appStyle="assets/css/app-dark.min.css"
          />
          <label class="custom-control-label" for="dark-mode-switch"
            >Dark Mode</label
          >
        </div>

        <div class="mb-2">
          <img
            src="assets/images/layouts/layout-3.jpg"
            class="img-fluid img-thumbnail"
            alt=""
          />
        </div>
        <div class="custom-control custom-switch mb-5">
          <input
            type="checkbox"
            class="custom-control-input theme-choice"
            id="rtl-mode-switch"
            data-appStyle="assets/css/app-rtl.min.css"
          />
          <label class="custom-control-label" for="rtl-mode-switch"
            >RTL Mode</label
          >
        </div>

        <a
          href="https://1.envato.market/grNDB"
          class="btn btn-primary btn-block mt-3"
          target="_blank"
          ><i class="mdi mdi-cart mr-1"></i> Purchase Now</a
        >
      </div>
    </div>
    <!-- end slimscroll-menu-->
  </div>
  <!-- /Right-bar -->

  <!-- Right bar overlay-->
  <div class="rightbar-overlay"></div>
</body>
