.question-area p {
  font-size: 20px !important;
  font-family: "Times New Roman", Times, serif;
}
.question-area p:empty {
  display: none;
}
.card {
  border-radius: 1rem !important;
}
.answerCard :hover {
  background-color: #c7c7c7;
  border-radius: 1rem;
}
.card-selected {
  background-color: rgb(164, 164, 253);
}
.card-selected h6 {
  color: white;
}
.teacher-answer {
  border-color: #6565d266;
  padding: 20px;
  border-radius: 10px;
  /* border-style: inset; */
  margin-top: 20px;
  background-color: antiquewhite;
}
.student-answer {
  margin-top: 30px;
  border-color: #6565d266;
  padding: 20px;
  border-radius: 10px;
  background-color: #00800026;
}
