<div class="row bg-primary" style="height: 90vh">
  <div
    class="col-md-8 offset-md-2 mh-100 text-center align-self-center text-white"
  >
    <img
      src="/assets/images/characters/digitalskill.svg"
      alt="digital skills person"
      style="width: 50%"
    />
    <h2 class="mt-4">StudentPreneur</h2>
    <p>StudentPreneur is the curriculum that has been running on StemClass.</p>
    <!-- <h4 class="text-warning mt-4">Coming soon</h4> -->
    <button
      type="button"
      class="btn btn-warning pl-4 pr-4"
      routerLink="/{{ currentUser }}/digital-skill-stages"
    >
      Get started
    </button>
  </div>
</div>
<!-- <div class="row">
    <div class="col-12">
        <h4>Where are digital skills used?</h4>
    </div>
    <div class="col-md-6">
        <h5></h5>
    </div>
    <div class="col-md-6">

    </div>
</div> -->
