<div class="container1">
    <div class="box">
        <div class="col1">

          <div class="account-pages">
            <div class="container-fluid">
              <div class="row justify-content-center">
                
                <div class="col-md-7">
                  <div class="bg-gradient"></div>
                  <div class="bg-image"></div>
                </div>
              </div>
            </div>
          </div>
          
        </div>

        <div class="col2">
           <div class="formbox">
            <h2>Add Your New Password</h2>
               <form [formGroup]="confirmPasswordForm" (validSubmit)="confirmPassword()">
                   
                <div class="form-group">
                    <label for="username">New Password</label>
                    <input
                      type="password"
                      class="form-control"
                      id="pswd"
                      name="password"
                      formControlName="password"
                      placeholder="Enter New Password"
                    />
                  </div>

                
                  

                  <div class="form-group">
                    <label for="username">Confirm New Password</label>
                    <input
                      type="password"
                      class="form-control"
                      id="pswd1"
                      name="password1"
                      formControlName="password1"
                      placeholder="Re-enter New Password"
                    />
                    <p
                    class="text-danger"
                    *ngIf="
                    confirmPasswordForm.value.password !=
                    confirmPasswordForm.value.password1
                    "
                  >
                    Passwords do not match
                  </p>
                 <!-- <div *ngIf="confirmPasswordForm.value.password!==confirmPasswordForm.value.password1">Not</div> -->
                  </div>
                 

                  
                  
              

                   <div class="inputbox1">
                    
                    <button type="submit" color="primary" mat-raised-button>Submit</button>
                   </div>
               </form>
           </div>
              
        </div>
    </div>
</div>

