<div class="row">
  <div class="col-md-9">
    <h4>
      Subjects<br /><small class="text-muted"
        >Choose a subject to continue</small
      >
    </h4>
    <br /><br />
    
 

    <div class="row">
      <div *ngFor="let subject of subjectList" class="col-md-3" >
        
        <app-student-subject-card
          (click)="loadChapters(subject._id, subject.mode)"
          [subject]="subject.subject[0]"
          
          [teacher]="subject.teacher[0]"
        ></app-student-subject-card>
        
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div  style="display: flex; justify-content: center; align-items: center;">
          <h4>{{textData}}</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <h4>Quick Info</h4>
    <br /><br />
    <div class="row"></div>
  </div>
</div>


