<div class="row">
  <div class="col">
    <div class="float-left">
      <h4>
        Chapters<br /><small class="text-muted"
          >You can start preparing your lessons here.</small
        >
      </h4>
      <app-breadcrumb [lessonId]="lessonId"></app-breadcrumb>
    </div>
    <div class="float-right btn-group" role="group">
      <button class="btn btn-primary bg-primary" (click)="openChapterModal()">
        <i class="fas fa-plus"></i> &nbsp;Create new chapter
      </button>
      <div class="dropdown">
        <button  class="btn btn-secondary dropdown-toggle mr-3 ml-2"
        id="lessonSettings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-cog"></i> &nbsp;
        Unit Settings
      </button>
      <div class="dropdown-menu" aria-labelledby="lessonSettings">
        <a class="dropdown-item" (click)="addUnit()">Edit</a>
        <a class="dropdown-item text-danger mt-2" (click)="deleteUnit()">Delete</a>
      </div>
      </div>
    </div>
    
  </div>
</div>
<div class="row mt-3">
  <div class="col">
    
    <div class="alert alert-danger" *ngIf="!lessonStatus" role="alert">
      You have not updated the total number of chapters for this subject.
      <button class="addchapter"  (click)="addChapter()">Add Here</button>
      <!-- This is chapter has been published and available to the students. -->
    </div>

    <div class="alert alert-success" *ngIf="lessonStatus" role="alert">
      {{lessonAdded.added}} Chapter(s) Added of {{lessonAdded.total}} Chapters
      <button class="addchapter"  (click)="addChapter()">Edit Total Number of Chapters</button>
      <!-- This is chapter has been published and available to the students. -->
    </div>

  </div>
</div>
<!-- <div>
  <ng-template #callAPIDialog>
    <h2 matDialogTitle>Total number of chapters</h2>
    <mat-dialog-actions align="end">
        <mat-form-field floatLabel="auto" appearance="outline" class="chapterform" [formGroup]="addChapterForm" (validSubmit)="totalLessonCount()">
          <mat-label>Add Chapter</mat-label>
          <input matInput required id="addchapter" formControlName="chapter">
        </mat-form-field>
        <br><br>
        <button mat-button matDialogClose="no">Close</button>
        <button type="submit" mat-button="yes">Save</button>
    </mat-dialog-actions>
 </ng-template>
</div> -->
<br /><br />
<div class="row" *ngIf="isActivityLoaded">
  <div class="col-md-3 d-flex" *ngFor = "let chapter of chapterList  | sortBy: 'asc':'lessonNumber' as result;">
    <app-chapter-card
      style="width: 100%"
      (click)="selectChapter(chapter._id, chapter.complex)"
      [chapter]="chapter"
      [chapterStatus] = "getStatus(chapter._id)"
      [reviewStatus] = "chapter.reviwed"
    ></app-chapter-card>
  </div>
</div>



<app-add-chapter-modal
  (formSubmitted)="refreshList()"
  [parentId]="parentId"
  [unitId]="unitId"
  type="0"
  typeText="chapter"
  dataTarget="chapterModal"
></app-add-chapter-modal>
