.card {
  background-color: #f7f8fc !important;
  box-shadow: none !important;
  min-height: 50vh;
}

.card-footer {
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
}
.card-header {
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
}
.rounded {
  border-radius: 1rem !important;
}
.slide-control {
  color: rgba(0, 0, 0, 0.494);
  font-size: 45px;
}

.modal-content{
  width: 250%;
  position: relative;
  right: 115px;
}