<div class="row pl-4" *ngIf="activityContents">
  <div class="col">
    <div class="">
      <img
        src="assets/images/tool-icons/9.png"
        style="max-width: 15%"
      /><br /><br />
      <h6>{{ activityContents.lesson[0].lessonName }}</h6>
      <div [innerHtml]="activityData.description"></div>
    

      <div class="float-left" *ngIf = "lessonId !== lessonActivityId">
        <!-- <button (click)="selectActivity(activity)"
                 class="btn btn-success"
                 class="btn btn-primary"
                 data-toggle="modal"
                 data-target="#exampleModal">Start this activity
        </button> -->
      </div><br>
      <div style="display: flex; justify-content: center; align-items: center;" class="alert alert-success" *ngIf = "status == '1'" role="alert">
        Accepted this activity.
      </div>
      <div style="display: flex; justify-content: center; align-items: center;" class="alert alert-success" *ngIf = "status == '0'" role="alert">
        Pending this activity.
      </div>
    </div>
  </div>
</div>



<div
  class="modal fade"
  id="{{ dataTarget }}"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  *ngIf="activityContents">
  <div
    class="modal-dialog modal-dialog-centered"
    style="max-width: 80%"
    role="document"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {{ contents?.lessonName }}
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-1 text-center">
            <a
              class="carousel-control-prev w-100"
              href="#carouselExampleControls"
              role="button"
              data-slide="prev"
            >
              <i class="fas fa-angle-left slide-control"></i>
            </a>
          </div>
          <div class="col-md-10">
            <div
              id="carouselExampleControls"
              class="carousel slide"
              data-ride="carousel"
              data-interval="0"
            >
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <h5>Activity Description</h5>
                  <div [innerHtml]="contentsParseData?.description"></div>
                  <br /><br />
                  <h5>Activity Objective</h5>
                  <div [innerHtml]="contentsParseData?.objective"></div>
                </div>
                <div
                  *ngFor="let item of activityData?.steps; let i = index"
                  class="carousel-item">
                  <div class="card">
                    <div class="card-header">
                      <h5>
                        Step <b>{{ i + 1 }}</b> out of
                        <b>{{ activityData.steps.length }}</b
                        >.
                      </h5>
                    </div>
                    <div class="card-body">
                      <div [innerHtml]="item"></div>
                      <br />
                      <br />
                      <h6>Please enter your observation below.</h6>
                      <br />
                      <app-text-editor
                        [id]="i"
                        (onUpdate)="updateStep($event, i)"
                        [content]="observations_[i]"
                        placeholder="Enter your observation here"
                      ></app-text-editor>
                      <div class="mt-3 float-right">
                        <button
                          type="button"
                          class="btn btn-primary"
                          (click)="addStudentActivities()"
                        >
                          Save
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <h5>Your Observations</h5>
                  <div *ngFor="let observation of observations; let i = index">
                    <div class="mt-3" [innerHtml]="observation"></div>
                    <hr />
                  </div>
                </div>
                <div class="carousel-item">
                  <h5>Please conclude the activity</h5>
                  <br />
                  <h6>Please enter you conclusion here</h6>
                  <app-text-editor
                    [id]="'activity_conclusion'"
                    (onUpdate)="updateConclusion($event)"
                    placeholder="Enter your conclusion here"
                  ></app-text-editor>
                  <br />
                  <div class="float-right">
                    <button
                      class="btn btn-primary"
                      (click)="addStudentActivities(true)"
                    >
                      Submit activity
                    </button>
                  </div>
                  <br /><br />
                  <div class="alert alert-danger" role="alert">
                    Please note: You cannot edit your activity once it's
                    submitted.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-1">
            <a
              class="carousel-control-next w-100"
              href="#carouselExampleControls"
              role="button"
              data-slide="next"
            >
              <i class="fas fa-angle-right slide-control"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
