<div class="row">
  <div class="col-md-12">
    <h6>Class Teacher mapping</h6>
    <small class="text-muted">Assign teachers to a standard and division.</small>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <form action="" [formGroup]="teacherMappingForm" (validSubmit)="assignTeacher()">
      <mat-form-field appearance="outline">
        <mat-label *ngIf = "teacherFName">{{teacherFName}} {{teacherLName}}</mat-label>
        <mat-label *ngIf = "!teacherFName">Select Teacher Name </mat-label>
        <mat-select id="name" formControlName="teacherId">
          <mat-form-field>
            <input name="query" type="text" [(ngModel)]="query" [ngModelOptions]="{standalone: true}" matInput>
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
          <mat-option *ngFor="let teacher of teachersList | searchfilter:query" [value]="teacher.userId">
            {{ teacher?.teacherFirstName }} {{ teacher?.teacherLastName }} 
          </mat-option>
        </mat-select>
      </mat-form-field>&nbsp;&nbsp;

      <mat-form-field appearance="outline">
        <mat-label *ngIf = "standard">{{standard}}</mat-label>
        <mat-label *ngIf = "!standard">Select Standard</mat-label>
        <mat-select id="standardId" formControlName="standardId">
        
          <mat-option *ngFor="let std of stds" [value]="std._id">
            {{ std.standards }}
          </mat-option>
        </mat-select>
      </mat-form-field>&nbsp;&nbsp;

      <mat-form-field appearance="outline">
        <mat-label *ngIf = "division">{{division}}</mat-label>
        <mat-label *ngIf = "!division">Select Division</mat-label>
      <mat-select id=" divisionId" formControlName="divisionId">

        <mat-option *ngFor="let div of divs" [value]="div._id">
          {{ div.division }}
        </mat-option>
        </mat-select>
      </mat-form-field>&nbsp;&nbsp;
      <br>
      <div>
        <button type="submit" class="btn-primary float-right" mat-button="yes">Save</button>
        <button class="float-right" (click)="closeDialog()" mat-stroked-button color="primary" mat-button matDialogClose="no"
          style="position: relative; right: 10px;">Close</button>
        &nbsp;&nbsp;&nbsp;&nbsp;

      </div>

    </form>
  </div>
</div>




<!-- <div
  id="{{ dataTarget }}"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" >
    <div class="modal-content" >
      <div class="modal-header">
        <h5 class="modal-title mt-0" id="myModalLabel">
          Class Teacher mapping <br /><small class="text-muted"
            >Assign teachers to a standard and division.</small
          >
        </h5>
        <button
          type="button"
          class="close"
          data-bs-dismiss="modal"
          aria-hidden="true"
        >
          ×
        </button>
      </div>
      <form [formGroup]="teacherMappingForm" (validSubmit)="assignTeacher()">
        <div class="modal-body">
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="name">Teacher name</label>
              <select
                class="form-control"
                id="name"
                formControlName="teacherId"
              >
                <option>Select teacher</option>
                <option
                  *ngFor="let teacher of teachersList"
                  [value]="teacher.userId"
                >
                  {{ teacher?.teacherFirstName }} {{ teacher?.teacherLastName }}
                </option>
              </select>
            </div>

            <div class="form-group col-md-3">
              <label for="standard">Select Standard</label>
              <select
                class="form-control"
                id="standard"
                formControlName="standardId"
              >
                <option>Select Standard</option>
                <option *ngFor="let std of stds" [value]="std._id">
                  
                  {{ std.standards }}
                </option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label for="division">Select Division</label>
              <select
                class="form-control"
                id="division"
                formControlName="divisionId"
              >
                <option>Select Division</option>
                <option *ngFor="let div of divs" [value]="div._id">
                  {{ div.division }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary waves-effect"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button
            type="submit"
            class="btn btn-primary waves-effect waves-light"
          >
            Save
          </button>
        </div>
      </form>
    </div>
   
  </div>

</div> -->