<!-- <div class="card text-center list-group-item">
  <div class="card-body" >
   <div class="float-left">
    <h5 class="mt-1 cut-text" *ngIf="concept.lessonName != 'N/A' && concept.lessonNumber != 'N/A'">
      {{ concept.lessonNumber | titlecase }}. {{ concept.lessonName | titlecase }}
    </h5>
  
   </div><br><br>
    
    <div class="btn-group  float-right" >
    
      <button class="btn btn-info" (click)="addUnit(14)"
          ><i class="fas fa-plus"></i> Simple Activity</button
        >
        <button class="btn btn-info" (click)="addUnit(15)"
          ><i class="fas fa-plus"></i> Experiential Activity</button
        >

        <button class="btn btn-info" 
          ><i class="fas fa-plus"></i> Multidisciplinary Activity</button
        >
        <button class="btn btn-info" 
          ><i class="fas fa-plus"></i> Scientific Experimentation</button
          >
          <button class="btn btn-info" (click)="addUnit(18)"
          ><i class="fas fa-plus"></i>Understanding Question</button
          >
         
    </div><br><br><br>
    <img
      [src]="
        'assets/images/tool-icons/1.png'
      "
      height="65"
    />

    <h6 class="mt-1" style="overflow: hidden">
      {{ concept.typeText | titlecase }}
    </h6>
    <h6 class="card-subtitle text-muted">
      <small> </small>
    </h6><br>
   
   <h6>{{ activity.unitName }}</h6>
  </div>
</div> -->
